//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: toRem(20);
  padding-right: toRem(20);
  padding-top: toRem(10);
  padding-bottom: toRem(10);

  border: 1px solid #1c210f;
  background-color: #1c210f;

  color: #fff;

  font-family: Manrope;
  font-size: toRem(15);
  font-weight: 600;
  line-height: 150%; /* 22.5px */
  text-transform: uppercase;

  height: toRem(55);

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #000;
      border-color: #000;
    }
  }
  &--fw {
    width: 100%;
  }
}
