//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  border-bottom: toRem(1) solid #d5d5d5;
  height: toRem(26);
  padding-bottom: toRem(9);
  background-color: transparent;

  color: #1c210f;
  font-family: e-Ukraine;
  font-size: toRem(15);
  font-weight: 200;
  line-height: 175%; /* 26.25px */

  &::placeholder {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    border-color: #61703d;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
