// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #fff;

  font-family: e-Ukraine Head;
  @include adaptiveValue("font-size", 64, 42, 0, 1213, 800);
  font-weight: 700;
  line-height: 95%; /* 39.9px */
  text-transform: uppercase;

  &_black {
    color: #1c210f;
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
