// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #fff;

  font-family: e-Ukraine Head;
  @include adaptiveValue("font-size", 64, 42, 0, 1213, 800);
  font-weight: 700;
  line-height: 95%; /* 39.9px */
  text-transform: uppercase;

  &_black {
    color: #1c210f;
  }
}

.text {
  color: #fff;
  font-family: e-Ukraine;
  font-size: toRem(15);
  font-weight: 200;
  line-height: 175%; /* 26.25px */

  p {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &_black {
    color: #1c210f;
  }
}

.company {
  font-family: e-Ukraine;
  font-size: toRem(15);
  font-weight: 700;
  line-height: 95%; /* 14.25px */
  text-transform: uppercase;
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.navigation {
  pointer-events: none;

  display: flex;
  &__button {
    pointer-events: all;
    width: 64px;
    height: 64px;
    border: toRem(1) solid #61703d;
    color: #61703d;
    font-size: toRem(24);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #61703d;
        color: #fff;
      }
    }
  }
}
.button-prev {
}
.button-next {
}

//========================================================================================================================================================

.tippy {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(34);
  height: toRem(34);
  border-radius: 50%;
  background-color: #61703d;

  position: absolute;
  z-index: 4;

  @media (any-hover: hover) {
    &:hover {
      &::before {
        background-color: #fff;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;

    display: block;
    width: toRem(14);
    height: toRem(14);
    border-radius: 50%;
    border: toRem(2) solid #fff;
    transition: background-color 0.3s ease 0s;
  }

  &[data-tippy="dark"] {
    background-color: #1c210f;
  }
}

.tippy-block {
  display: grid;
  gap: toRem(7);
  max-width: toRem(240);
  background-color: #5c5c5c;
  padding: toRem(16) toRem(20);
  &_dark {
    background-color: #1c210f;
  }
  &__title {
    color: #fff;
    font-family: e-Ukraine Head;
    font-size: toRem(12);
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
  }
  &__text {
    color: #fff;
    font-family: e-Ukraine;
    font-size: toRem(13);
    font-weight: 300;
    line-height: 160%; /* 20.8px */
  }
}

//========================================================================================================================================================
.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: #1c210f;
    font-family: e-Ukraine Head;
    font-size: toRem(12);
    font-weight: 400;
    line-height: 175%; /* 21px */

    &:not(:last-child) {
      &::after {
        content: "/";
        margin: 0 toRem(24);
        opacity: 0.5;
      }
    }
  }

  &__link {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #61703d;
      }
    }
  }

  &__current {
    opacity: 0.5;
  }
}
